@import '../../sass/base/variables.scss';

.inf{
    color:white;
    &__contact{
        display: flex;
        align-items: center;
        img{
            height: 24px;
            margin-right: 13px;
            margin-bottom: 18px;
        }
    }
}