@import '../../sass/base/variables.scss';

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 550px;
    height: 70px;
    &__item{
        background-color: $fond-color;
        width: 13vw;
        height: 13vw;
        max-width: 40px;
        max-height: 40px;
        border-radius: 19%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
        img{
            height:50%;
        }
        &:active{
            box-shadow: $main-shadow
        }
    }
}